/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */

.flex{
    display: flex;
}

.extra-padding{
    padding-left: 8px;
    padding-right: 8px;
}

/* generic */

body{
    background-color: black;
    color: white;
}

button{
    cursor: pointer;
    padding: 3px 5px;
    border: none;
    border-radius: 3px;
    color: white;
}

/* header */
header .btn{
    justify-content: flex-end;    
}

header button{
    margin: 10px 5px; 
    background-color: gray;
}

/* main */

main .container{
    height: calc(100vh - 41.33px);
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

main{
    overflow-y: scroll;
}

.row{
    margin: 30px 0; 
    flex-wrap: wrap;
    justify-content: center;
}

.user-card{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 5px;

    border-radius: 3px;
    overflow: hidden;
}

.user-card span{
    position: absolute;
    left: 0;
    bottom: 0;

    background-color: rgba(125, 125, 125, 0.5);

    display: block;
    padding: 7px 10px;
    border-top-right-radius: 3px;
}

.user-card .btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.user-card button{
    background-color: blue;
    margin: 3px;

}

.user-card:hover .btn{
    display: block;
}